.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--quick-start-card-background)
}

.card-item__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.card-item__link {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.card-item__link:hover {
  text-decoration: underline;
}

.card-item__description {
  font-size: 16px;
  color: var(--quick-start-card-description)
}

@media screen and (max-width: 624px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
}
